.header-container input{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 100;
    display:block;
    margin:auto;
    height:25px;
    border-radius:15px;
    border:none;
    background:#603171;
    color:white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.header-container input:focus{
  outline:none;

}

.header-container{
    margin-top: 50px;
    position:relative;
}

.header-container i{
    position:absolute;
    right:0px;
    top:0;
    margin-right:45px;
    padding:0;
    color:white;
    font-size: 30px;
    transition: all .3s ease;
}

.header-container i:hover{
    transform: scale(1.15);
}
.header-container .error{
    display:block;
    color:white;
    width:100%;
    position:absolute;
    text-align: center;
    font-size:11px;
    padding:5px 0;
}
