*{
  font-family: 'Roboto',sans-serif;
}


html,body{
  height:100%;
}


body{
    background:#131313;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

.app{
    position:relative;
    display: flex;
    width: 350px;
    height: 600px;
    background:white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.gradient {
    content: '';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: -webkit-linear-gradient(top left,rgba(182,80,200,.85),rgba(18,40,64,.85));
    background-image: -o-linear-gradient(top left, rgba(182,80,200,.85),rgba(18,40,64,.85));
    background-image: linear-gradient(to bottom right, rgba(182,80,200,.85),rgba(18,40,64,.85));
    background-opacity: .85;
  }

  .content-container{
    padding:30px;
  }
