.weather-main{
    padding: 50px 0;
}

.weather-main .temperature{
    width:100%;
    display:block;
    margin:0;
    line-height: 90px;
    font-size:100px;
    color:white;
    font-weight: 300;
}

.weather-main .description{
    display:block;
    color:#fff;
    font-weight: 100;
    font-size: 22px;
    padding-top: 15px;
}
